$yellow: #ffd200;


body {
  background-image:url(../images/bg2bk.jpg); 
  background-repeat:repeat-x;
}

body{
    .wrapper {
        .bigtitle {
            @media only screen and (min-width: 420px) {
                a:before {
                    content: "Computer & Information Sciences";
                    font-size: 50px;
                    margin-left: 35%;
                }   
            }
            @media only screen and (max-width: 414px) {
                a:after {
                    content: "CISC";
                    font-size: 50px;
                    margin-left: 35%;
                }   
            }
        }
        #navmenu{ 
            @media only screen and (max-width: 414px) {
                    list-style-type:none;
                    display:block;
                    float:none;
                    width:414px;
                    line-height: 50px;
                    border-bottom: 1px solid #fff;
                }
            li > a{
                text-decoration: none;
                color: $yellow;
            }
        }
    }
}

body {
    .wrapper{
        #body {
            #maincontent {
                .topwrapper {
                    @media only screen and (max-width: 414px) {

                        #mainslideshow {
                            div {
                                width:65%;
                                font-size: 10px;
                                text-align: center;
                            }

                        }
                        div {
                            #box1{
                                width:100%;
                                margin-top: 525px;
                            }
                        }
                    }
                }
            }
        }
    }
}



