$UDyellow: #ffd200;
$titleBGC: #003877;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image:url(../images/bg2bk.jpg); 
    background-repeat:repeat-x;
}

body{
    #wrapper {

        @media only screen and (max-width: 414px) {
            a:after {
                content: "CISC";
                font-size: 50px;
                margin-left: 35%;
            }   
        }

        .bigtitle {
            background-color: $titleBGC;
            
            background:-webkit-gradient(linear, left top, left bottom, from(#007AC2), to(#003877));
            @media only screen and (min-width: 420px) {
                a:before {
                    content: "Computer & Information Sciences";
                    font-size: 50px;
                    margin-left: 35%;
                }   
            }
            /**/
        }
        @each $item in div {

            @each $row in ul {
                 $color: $UDyellow;
                border-bottom: 1px solid #fff;
            }
        }

    }
}

body {
    .wrapper{
        #body {
            #maincontent {
                .topwrapper {
                    @media only screen and (max-width: 414px) {

                        div {
                            #box1{
                                width:100%;
                                margin-top: 525px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

 cell number 
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}*/



