/* variables, Sass*/
$UDyellow: #ffd200;
$brighterUDyellow: rgb(255, 221, 0); 
$titleBGC: #003877;

/* global mixins, Sass*/

@mixin titleSpacSiz {
    font-size: 50px;
    margin-left: 35%;
}

@mixin elipses {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@mixin allRound_10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@mixin topRound_10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@mixin bottomYellowBorder {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $brighterUDyellow;
}

@mixin SideBox {
    width:100%;
    height: 100%;
    opacity: .6;
}

/* nav menu button was clicked -> drop down nav menu styles activated */
@mixin checked {
    [type="checkbox"]:checked ~ ul {
        display: block;
        z-index: 9999;
        position: relative;
        right: 20px;
        left: 20px;
    }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image:url(../images/bg2bk.jpg); 
    background-repeat:repeat-x;
}

/* checkbox allows determinig status of menu button clicked || ! */
[type="checkbox"], label {
      display: none;
}
@media only screen and (max-width: 414px) { 
    /* @include calls in our @mixin from above */
    @include checked;

    /* styles menu icon */
    label {
        display: block;
        background: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        left: 8px;
        top: 85px;
    }
    
    /* styles menu icon internal 3 horizontal bars*/  
    label:after {
        @include topRound_10;
        content:'';
        display: block;
        width: 30px;
        height: 5px;
        background: $UDyellow;
        margin: 7px 5px;
        box-shadow: 0px 10px 0px $UDyellow, 0px 20px 0px $UDyellow;
    }
    nav ul {
        display: none;
        padding-bottom: 165px;
        margin-top: 0px;

        li {
            @include bottomYellowBorder;
            @include elipses;
            border-bottom-color: $titleBGC;
            display: block;
            float: right;
            padding-top: 5px;
            margin-right: 18px;
            width: 400px;
            height: 30px;
            background: $brighterUDyellow;
            text-align: center;
            font-weight: bold;

            a {
                color: $titleBGC;
                text-decoration: none;
                font-size: 15px;
            }
        }
    }
}

/* Sass allows nesting, but do not get to carried away
 *   or things will not work properly
 */

body {
    .wrapper {
        .bigtitle {
            @include topRound_10;
            background-color: $titleBGC;
            background:-webkit-gradient(linear, left top, left bottom, from(#007AC2), to(#003877));
            @media only screen and (min-width: 420px) {
                a:before {
                    content: "Computer & Information Sciences";
                    @include titleSpacSiz;
                    @media screen and (orientation: landscape) {
                        font-size: 30px;
                        margin-left: 20%;
                    }
                }   
            }
            @media only screen and (max-width: 418px) {
                @include bottomYellowBorder;
                border-bottom-width: 4px;
                a:after {
                    content: "CISC";
                    @include titleSpacSiz;
                }
            }
        }
    }
}

body {
    .wrapper {
        #body {
            #content {
                .post {
                    .thumb {
                        img {
                            @media only screen and (max-width: 418px) {
                                @include allRound_10;
                                width: 100%;
                            }
                        }

                    }
                }
            }
        }
    }
}

body {
    .wrapper{
        #body {
            #maincontent {
                /**/
                .topwrapper {
                    @media only screen and (max-width: 418px) {
                        div {
                            width:100%;
                            #box1 {
                                @include SideBox;
                                @include allRound_10;
                                background-color: #ea0;
                                margin-top: 545px;
                            }
                            #box2 {
                                @include SideBox;
                                @include allRound_10;
                                background-color: $titleBGC;
                            }
                            #box3 {
                                @include SideBox;
                                @include allRound_10;
                                background-color: #ea0;
                            }
                        }
                    }
                }
            }
        }
    }
}





